<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   Login form
   <form th:action="@{/api/jwt/register}" method="POST">
        <!-- Email -->
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" />
        </div>
        <div>
            <label for="firstName">FirstName:</label>
            <input type="firstName" id="firstName" name="firstName" />
        </div>
        <div>
            <label for="lastName">LastName:</label>
            <input type="lastName" id="lastName" name="lastName" />
        </div>
        <button type="submit">Register</button>
   </form> 
</body>
</html>