<gmpx-api-loader [key]="mapsApiKey"></gmpx-api-loader>

<gmpx-split-layout row-reverse row-layout-min-width="700">
  <gmpx-overlay-layout #overlay slot="fixed">
    <div slot="main" class="main-container">
      <gmpx-route-overview for-map="gmap"></gmpx-route-overview>
      <gmpx-place-picker for-map="gmap" type="park"
                         placeholder="Enter a location in Singapore"
                         country="sg" (gmpx-placechange)="selectPlace($event)">
      </gmpx-place-picker>
      <gmpx-place-overview size="large" [place]="place" google-logo-already-displayed>
        <gmpx-icon-button slot="action" variant="filled" (click)="showReviews()">
          See Reviews
        </gmpx-icon-button>
        <gmpx-place-directions-button slot="action" variant="filled">
          Directions
        </gmpx-place-directions-button>
      </gmpx-place-overview>
    </div>
    <div slot="overlay">
      <gmpx-icon-button autofocus (click)="hideReviews()" class="close-button">
        Close
      </gmpx-icon-button>
      <gmpx-place-data-provider [place]="place">
        <gmpx-place-reviews></gmpx-place-reviews>
      </gmpx-place-data-provider>
    </div>
  </gmpx-overlay-layout>

  <!-- Corrected placement of closing tag for gmpx-split-layout -->
  <gmp-map slot="main" id="gmap" map-id="fc1289eedacfb1a1" [zoom]="mapZoom" [center]="mapCenter">
      <gmp-advanced-marker *ngFor="let location of sgLocations; let index = index"
        class="pannable"
        [position]="{ lat: location.lat, lng: location.lng }" 
        [title]="'Toilet ' + (index + 1) + ': ' + location.title"
        [content]="location.content"
        gmp-clickable
        (gmp-click)="onMarkerClick(location)">
      </gmp-advanced-marker>
      <map-info-window #MapInfoWindow></map-info-window>
  </gmp-map>
</gmpx-split-layout>
