<!-- Form Layout -->
<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Sign In</h4>
    <form [formGroup]="form" (submit)="login()">
      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" value="Email" placeholder="Enter your email" formControlName="email">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Email cannot be empty</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('minlength')">Email must be greater than 4 characters</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 fs-16" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Enter your password" formControlName="password">
          <mat-error *ngIf="form.get('email')?.hasError('required')">Password cannot be empty</mat-error>
          <mat-error *ngIf="form.get('email')?.hasError('minlength')">Password must be greater than 4 characters</mat-error>
      </mat-form-field>

      <button mat-button color="btn btn-info fw-normal" type="submit" [disabled]="form.invalid || !form.dirty">Login</button>
      <button mat-button color="btn btn-info fw-normal" type="button" (click)="onBack()">Back</button>
    </form>
  </div>
</div>